[Unit]
Description=DWeb Camp HTTP share
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/vpavlin/captive-server.py
Restart=always

[Install]
WantedBy=multi-user.target
